@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-size: 20px;
    font-family: "M PLUS Rounded 1c", Arial, sans-serif;
    color: #444;
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

body {
    background-color: #d0e0b0;
    background-image: radial-gradient(#ffffe0 10%, transparent 10%),
        radial-gradient(#ffffe0 10%, transparent 10%);
    background-color: rgb(250, 240, 200);
    background-position: 0 0, 50px 50px;
    background-size: 100px 100px;
}

/* MENU */

#nav {
    background: #d0e0b0;
    padding: 10px;
}

#nook_leaf {
    height: 50px;
    width: 50px;
    background-color: #0a0;
    padding: 5px;
    border-radius: 10px;
    vertical-align: middle;
}

#nav p {
    position: absolute;
    font-size: 26px;
}

#toggle {
    width: 50px;
    height: 50px;
    padding: 10px;
    background-color: #c0d0a0;
    border-radius: 10px;
    margin-left: 100%;
    transform: translate(-100%, 0);
    cursor: pointer;
}

#line-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

#toggle .line {
    width: 100%;
    height: 20%;
    background-color: #809060;
    border-radius: 10px;
    position: absolute;
    transition: all 500ms ease-in-out;
}

#toggle .line.top-line {
    top: 0;
}

#toggle .line.mid-line {
    top: 50%;
    transform: translateY(-50%);
}

#toggle .line.btm-line {
    top: 100%;
    transform: translateY(-100%);
}

#toggle.close .line.top-line, #toggle.close .line.btm-line  {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

#toggle.close .line.mid-line {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

#nav_wrapper #options, #nav_wrapper #tool_options, #cancel {
    height: 0;
    overflow: hidden;
    background-color: #c0d0a0;
    transition: all 500ms ease-in-out;
}

#nav_wrapper #options.open {
    height: 240px;
}

.option {
    height: 60px;
    padding: 16px;
    text-align: center;
    cursor: pointer;
}

.option:hover, .tool-option:hover {
    background-color: #b0c090;
}

#nav_wrapper #tool_options.open {
    height: 720px;
}

.tool-option {
    cursor: pointer;
    background: #c0d0a0;
    padding: 10px;
    text-align: center;
    height: 60px;
}

.tool-option img {
    width: auto;
    height: 100%;
    vertical-align: middle;
    margin-right: 20px;
}

#btn_cancel {
    background-color: #c44;
    padding: 16px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

#btn_cancel:hover {
    background-color: #f44;
}

#cancel.open {
    height: 60px;
}



/* TOOL UI */


ul { list-style-type: none; margin: 0; padding: 0; }

.tool-wrapper {
    width: 100%;
    padding: 20px;
    cursor: pointer;
    position: relative;
}

.tool-wrapper.hoverable:hover {
    background-color: rgba(0, 255, 0, 0.2);
    cursor: pointer;
}

.tool-wrapper.hoverable.remove:hover {
    background-color: rgba(255, 0, 0, 0.2);
    cursor: pointer;
}

.tool, .durability {
    display: inline-block;
    vertical-align: top;
}

.tool {
    width: 20vw;
    height: 20vw;
    background-color: #444;
    border: 5px solid #777;
    border-radius: 16px;
}

.durability {
    width: calc(80vw - 40px);
    padding-left: 20px;
    position: absolute;
    height: calc(100% - 40px);
    font-size: 5vw;
}

.meter-bg {
    width: 100%;
    height: 100%;
    background-color: #444;
    border: 5px solid #777;
    border-radius: 5px;
    height: 40%;
}

.meter {
    width: 100%;
    height: 100%;
    background: #0a0;
}

@media screen and (min-width: 768px) {
    .tool {
        width: 100px;
        height: 100px;
    }
    .durability {
        width: calc(100% - 140px);
        font-size: 20px;
    }
}